.row
    each fixture, i in fixtures
        .col-md-6.col-sm-12
            .card.boxShadowCards.mt-4
                .card-title
                    .card-header= fixture.venue
                .card-body
                    .row
                        .col-md-5.col-sm-12.text-center
                            img(src=homeClubs[i].logo height="100px")
                        .col-md-2.col-sm-12.text-center.mt-4 VS
                        .col-md-5.col-sm-12.text-center
                            img(src=awayClubs[i].logo height="100px")
                .card-footer.text-center
                    a.btn.btn-primary.btn-md(href="/dashboard/fixtures/live/update/"+fixture._id) Update Live