footer
    .bg-dark.pt-4
        .container
            p.h4.text-center.pt-4.text-secondary Kick.com 
            .row
                //- List 1 - Register tabs
                .col-md-3.col-sm-12
                    ul.mt-4.list-unstyled
                        li
                            p.h5.text-white Register
                        li
                            a.text-decoration-none.text-secondary(href="/info/clubadmin") Club Administrators
                        li
                            a.text-decoration-none.text-secondary(href="/info/coahces") Coaches
                        li
                            a.text-decoration-none.text-secondary(href="/info/referees") Referees
                        li
                            a.text-decoration-none.text-secondary(href="/info/users") Users
                    
                //- List 2
                .col-md-3.col-sm-12
                    ul.mt-4.list-unstyled
                        li
                            p.h5.text-white.text-left Pages
                        li
                            a.text-decoration-none.text-secondary(href="/") Home
                        li
                            a.text-decoration-none.text-secondary(href="/aboutus") About Us
                        li
                            a.text-decoration-none.text-secondary(href="/ourvision") Our Vision
                        li
                            a.text-decoration-none.text-secondary(href="/news") News
                        li
                            a.text-decoration-none.text-secondary(href="/clubs") Clubs
                        li
                            a.text-decoration-none.text-secondary(href="/fixtures") Fixtures
                        li
                            a.text-decoration-none.text-secondary(href="/leagues") Leagues
                        li
                            a.text-decoration-none.text-secondary(href="/leaderboards") Leaderboards
                        li
                            a.text-decoration-none.text-secondary(href="/results") Results
                    
                //- List 3
                .col-md-3.col-sm-12
                    ul.mt-4.list-unstyled
                        li
                            p.h5.text-white.text-left Contact Us
                        li
                            a.text-decoration-none.text-secondary(href="/contact/form") Write to Us
                        li
                            a.text-decoration-none.text-secondary Phone: 0452248919
                        li
                            a.text-decoration-none.text-secondary ABN: 94310853
                        li
                            a.text-decoration-none.text-secondary Email: info@kick.com.au
                        li.mt-4
                            
                .col-md-3.col-sm-12
                    ul.mt-4.list-unstyled
                        li
                            .row
                                p.h5.text-white.text-left.ml-3 Follow Us
                            .row.mb-4
                                .col-xs-4
                                    a(href="/instagram").ml-3.text-primary
                                        span(data-feather='instagram')
                                .col-xs-4
                                    a(href="/facebook").text-primary
                                        span.ml-4(data-feather='facebook')
                                .col-xs-4
                                    a(href="/twitter").text-primary
                                        span.ml-4(data-feather='twitter')

        p.my-0.ml-3.text-left.p-0.text-secondary A 
            span.text-white Kick.com 
            span Website &#9917;