include navbar
    .container
        .mt-5
            .row
                p.h3 Not Authorized Yet
                
            .row.mt-3
                br
                p.h4.text-secondary As a club administrator you will receive access to a lot of different tools and functions. <br> This is why we have to verify you first. <br> The verification may take anywhere from a few hours to a few days.
                br
                br
                p.h4.text-secondary.my-4 You may get a email or phone call from the team within the next few days asking to confirm your identity
                br
                br
                p.h4.text-secondary.mt-4 For any further information please contact us at <span class="text-primary">verification@kick.com.au</span>