div(class="row center")
    p.h3.mx-auto.mb-3 Create Club
    div(class="col-sm-12 formPositioning")
        div(class="mb-3 mx-auto loginCards" style="max-width: 90%;")
            div(class="mx-auto")
                form(action="/dashboard/clubs/add", method="post" style="max-width: 100%")
                    div(class="row")
                        div(class="col-md-6")
                            div(class="form-group")
                                label() Club Name
                                input(type="text" class="form-control" name="clubName" placeholder="Apia" required)
                            div(class="form-group")
                                label() Home Ground Name
                                input(type="text" class="form-control" name="homeGround" placeholder="Home Ground")
                            div(class="form-group")
                                label() Stadium Capacity
                                input(type="number" class="form-control" placeholder="39000" name="stadiumCapacity" required)
                                                    
                            div(class="form-group")
                                label() Primary Color
                                input(type="text" class="form-control" name="primaryColor" placeholder="#ef43f3" required)
                                                                
                            div(class="form-group")
                                label() Secondary Color
                                input(type="text" class="form-control" name="secondaryColor" placeholder="#b453f3" required)
                                                                
                                                    
                        div(class="col-md-6")
                            div(class="form-group")
                                label() Email
                                input(type="text" class="form-control" name="email" placeholder="exaple@email.com")
                                                                
                            div(class="form-group")
                                label() Phone Number
                                input(type="text" class="form-control" name="phoneNumber" placeholder="eg 0473243843")

                            div(class="form-group")
                                label() Contact name
                                input(type="text" class="form-control" name="contactName" placeholder="John Smith")

                            div(class="form-group")
                                label() Venue Address
                                input(type="text" class="form-control" name="officeAddress" placeholder="742 Evergreen Terrace")

                            div(class="form-group")
                                label() Logo
                                input(type="text" class="form-control" name="logo" placeholder="Enter the image URL" required)

                    button.btn.btn-success.btn-lg.w-100(type="submit") Submit