.form-group
    .input-group
        .input-group-prepend
            span.input-group-text Search
        input.form-control(type="text" name="club_search" id="club_search" placeholder="Search for a club")
.row#clubsResult