.d-sm-flex.mt-4.justify-content-between.d-flex-xs-column
    button(type="button").card.boxShadowCards.text-decoration-none.mt-3.text-center.actionButton
        .card-body
            h5.card-title Number of Clubs
                span.ml-4.text-primary #{ clubsNumber }
br
hr

p.h3 Recently added clubs
.d-sm-flex.mt-4.justify-content-around.d-flex-xs-column

    each club in newClubs
        .card
            .card-header.bg-white
                .card-title.h5= club.clubName
            .card-body(style="background: #eee")
                .row
                    .col-md-12.text-center
                        img(style='height: 100px; width: auto;' src=club.logo)
            .card-footer.bg-primary.text-center
                a(href="/clubs/"+club._id).h5.text-white.text-decoration-none.stretched-link View Club Profile