.modal#foulModal
    .modal-dialog
        .modal-content
            .modal-header
                .modal-title
                    h3 Add Foul
            .modal-body
                form(action="/dashboard/fixtures/"+fixture._id+"/foul", method="post")
                    //- Time Elapsed
                    .form-group
                        label(for="#elapsed") Elapsed
                        input.form-control.w-25(type="number" name="elapsed" id="elapsed")
                    
                    //- Team Id 
                    input(type="hidden", name="teamId" class="teamId")

                    //- Player
                    label(for="#player") Player
                    select.custom-select.player(name="playerId" id="player")
                        option(selected) Select Player

                    //- Assist
                    input(type="hidden", name="assistId" value=" ")

                    //- Type
                    input(type="hidden", name="type" value="foul")

                    //- Detail
                    label.mt-2 Detail
                    select.custom-select(name="detail" id="detail")
                        option(selected) Select Detail
                        option(value="foul") Foul
                        option(value="handball") Handball
                        option(value="yellowCard") Yellow Card
                        option(value="redCard") Red Card
                        option(value="yellowToRed") Second Yellow
                    
                    //- Comments
                    label.mt-2 Comments
                    input(type="text" name="comments" class="form-control" placeholder="eg. slide tackle, wasting time...")

                    input.mt-4.btn.btn-md.btn-success.w-100(type="submit", value="Add Foul")