.modal#goalModal
    .modal-dialog
        .modal-content
            .modal-header
                .modal-title
                    h3 Add Goal
            .modal-body
                form(action="", method="post")